.header-container{
  height: 650px;
  position:relative;
  z-index: 0;
  background: url('./images/chair-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-container::after{
  height:650px;
  content:' ';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3A4256;
  width: 30%;
  z-index: -1;
}
.navbar{
  padding: 20px 0 !important;
}
.info-primary{
  background-color: #1CC7C1;
}
.info-dark{
  background-color: #3A4256;
}
.info-container{
  height: 120px;
  padding: 40px;
}
.infoWidth{
  width: 90%;
}
.info-icon{
  font-size: 3em;
}
.featured-container{
  margin-top: 100px;
}
.featured-text{
  margin-top: 70px;
}
.appointment-container{
  background: url("./images/appo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 150px;
  position: relative;
  height: 420px;
}
.appointment-container::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3A4256;
  opacity: .9;
}
.appointment-container img{
  height: 550px;
  transform: translateY(-130px);
}
.appointment-text{
  margin-top: 100px;
}


.blogs .card{
  border: 0;
}
.blogs .card-header{
  border: 0;
  background-color: transparent;
}
.blogs .card:hover{
  background-image: linear-gradient(75deg, #19D3AE,#0fcfec);
  color: #fff !important;
  transition:  .1s  all ease-in-out !important;
}
.blogs .card:hover .card-body{
  background-image: url(./images/quote.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 60%;
}
.blogs .card:hover h6,
.blogs .card:hover p
{
  color: #fff !important;

}
.blogs .card:hover img{
  display: none;
}
.contact-container{
  background: url('./images/appo-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.contact-container::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3A4256;
  opacity: .9;
}
.footer-area{
  background: url('./images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.social-media .icon{
  height: 40px;
  width: 40px;
  color: #1cc7c1;
  border-radius: 50%;
  border: 1px solid #6ACECE;
  padding: 10px;
}
.social-media .active-icon{
  background-color: #6ACECE ;
  color:white;
}
.appointment-header{
  background: url("./images/chair-bg.png");
}
.react-calendar {
  box-shadow: 0 3px 6px #f1f1f1;
  margin-top: 50px;
  border: none !important;
  border-radius: 5px;
  height: 350px;
  padding: 20px;
}
.btn-brand{
  background-image: linear-gradient(75deg, #19D3AE, #0fcfec );
  border-color: transparent;
  text-transform: uppercase;
  padding: 8px 10px;
  color: #ffffff;
  font-weight: 600;
}
.text-brand{
  color: #1CC7C1;
}
.sidebar{
  background-image: linear-gradient(40deg, #19d3ae,#0fcfec);
  position: fixed;
}
.sidebar li{
  margin-bottom: 2em;
}
.sidebar li:hover span{
  display: inline-block;
  transform: translate(5px);
  text-decoration: none;
}
.sidebar svg{
  margin-right: 5px;
}